@font-face {
  font-family: "fustat";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/fustat-latin-ext-200-normal.ttf") format("truetype"), url("../fonts/fustat-latin-200-normal.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "fustat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/fustat-latin-ext-300-normal.ttf") format("truetype"), url("../fonts/fustat-latin-300-normal.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "fustat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fustat-latin-ext-400-normal.ttf") format("truetype"), url("../fonts/fustat-latin-400-normal.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "fustat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/fustat-latin-ext-500-normal.ttf") format("truetype"), url("../fonts/fustat-latin-500-normal.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "fustat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/fustat-latin-ext-600-normal.ttf") format("truetype"), url("../fonts/fustat-latin-600-normal.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "fustat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fustat-latin-ext-700-normal.ttf") format("truetype"), url("../fonts/fustat-latin-700-normal.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "fustat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/fustat-latin-ext-800-normal.ttf") format("truetype"), url("../fonts/fustat-latin-800-normal.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "plateia";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Plateia Bold.ttf") format("truetype");
  font-display: swap;
}
body img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

:root {
  --focus-color: #5F09CF;
  font-size: 18px;
  --black-color: #170829;
  --gray-color: #F2F1F4;
}
@media (max-width: 920px) {
  :root {
    font-size: 14px;
  }
}

body {
  color: var(--black-color);
  font-family: "fustat", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1582px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}

.main-btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: var(--focus-color);
  border-radius: 16px;
  text-decoration: none;
  border: none;
  font-weight: 700;
  line-height: 1;
  padding: 12px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 0;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo a {
  display: block;
  color: inherit;
  text-decoration: none;
  max-width: 194px;
  margin-right: 64px;
  min-width: 160px;
}
.header__logo a svg {
  display: block;
  width: 100%;
}
.header__nav {
  margin-right: auto;
}
.header__nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  list-style: none;
}
.header__nav ul li {
  margin: 0;
}
.header__nav ul li a {
  display: block;
  color: var(--black-color);
  text-decoration: none;
}
.header__action {
  margin-left: 1.7em;
}

@media (max-width: 1200px) {
  .header__logo a {
    max-width: 160px;
    margin-right: 1.3em;
  }
  .header__nav ul {
    gap: 1.3em;
  }
}
@media (max-width: 920px) {
  .header {
    padding: 16px 0;
  }
  .header__logo {
    margin-right: auto;
    max-width: 110px;
  }
  .header__logo a {
    min-width: 0;
    margin: 0;
  }
  .header__nav {
    display: none;
  }
}
.hero {
  margin: 80px 0 55px;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: -100px;
  right: 5%;
  width: 760px;
  height: 420px;
  background-image: url(../../assets/imgs/cloud.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  pointer-events: none;
}
.hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-bottom: 100px;
}
.hero__top .title {
  width: 60%;
  max-width: 985px;
  position: relative;
}
.hero__top .title::after {
  position: absolute;
  pointer-events: none;
  content: "";
  right: 100px;
  bottom: -38px;
  height: 32px;
  width: 50%;
  background-image: url(../../assets/imgs/decor-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__top .title h1 {
  margin: 0;
  display: block;
  font-size: 3.5em;
  color: var(--black-color);
  line-height: 1;
  font-weight: 500;
}
.hero__top .text {
  width: 50%;
  max-width: 509px;
}
.hero__top .text p {
  line-height: 1.2;
  font-weight: 400;
  display: block;
  margin: 0;
}
.hero__top .text p:first-child {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 12px;
}
.hero__bottom {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
.hero__bottom div {
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero__bottom .img img {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.hero__bottom .text {
  background-color: var(--gray-color);
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero__bottom .text b {
  display: block;
  color: var(--focus-color);
  font-family: "plateia", sans-serif;
  font-size: 1.3em;
  margin-bottom: 48px;
}
.hero__bottom .text ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hero__bottom .text ul li {
  display: block;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--black-color);
  position: relative;
  margin-bottom: 16px;
}
.hero__bottom .text ul li:last-child {
  margin-bottom: 0;
}
.hero__bottom .text ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  background-image: url(../../assets/imgs/list-decor.png);
  background-size: 100% 100%;
}
.hero__bottom .text ul li p {
  margin: 0;
  display: block;
}
.hero__bottom .link {
  max-height: 232px;
  height: 100%;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__bottom div:nth-child(1) {
  grid-area: 1/1/2/2;
}
.hero__bottom div:nth-child(2) {
  grid-area: 1/2/2/3;
}
.hero__bottom div:nth-child(3) {
  grid-area: 2/1/3/3;
}
.hero__bottom div:nth-child(4) {
  grid-area: 1/3/3/6;
}
.hero__bottom div:nth-child(5) {
  grid-area: 1/6/2/7;
  background-color: #141921;
  color: #fff;
  position: relative;
}
.hero__bottom div:nth-child(5) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.hero__bottom div:nth-child(5) a:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.hero__bottom div:nth-child(5) svg {
  display: block;
  margin-bottom: 20px;
}
.hero__bottom div:nth-child(5) span {
  font-weight: 700;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__bottom div:nth-child(5) span::after {
  margin-top: 20px;
  content: url(../../assets/imgs/arrow.png);
}
.hero__bottom div:nth-child(5) img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  pointer-events: none;
}
.hero__bottom div:nth-child(6) {
  grid-area: 2/6/3/7;
  background: rgba(95, 9, 207, 0.1843137255);
  padding: 26px;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}
.hero__bottom div:nth-child(6):hover {
  padding: 20px;
}
.hero__bottom div:nth-child(6) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5F09CF;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-decoration: none;
  border-radius: 16px;
}
.hero__bottom div:nth-child(6) a img {
  margin-top: 20px;
  display: block;
}

@media (max-width: 1200px) {
  .hero__bottom {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .hero__bottom div:nth-child(4) {
    grid-area: 1/3/3/5;
  }
  .hero__bottom div:nth-child(5) {
    grid-area: 1/5/2/7;
    max-height: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__bottom div:nth-child(6) {
    grid-area: 2/5/3/7;
    max-height: none;
  }
}
@media (max-width: 920px) {
  .hero__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 48px;
  }
  .hero__top .title {
    width: 100%;
    max-width: none;
    margin: 0 0 60px;
  }
  .hero__top .title h1 {
    font-size: 42px;
  }
  .hero__top .title::after {
    width: 80%;
    left: 0;
    right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: contain;
  }
  .hero__top .text {
    margin: 0;
    width: 100%;
    max-width: none;
  }
  .hero__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-auto-rows: minmax(0, auto);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .hero__bottom div {
    max-height: 340px;
  }
  .hero__bottom .img {
    aspect-ratio: 1/1;
  }
  .hero__bottom div:nth-child(1) {
    grid-area: 3/1/4/2;
  }
  .hero__bottom div:nth-child(2) {
    grid-area: 3/2/4/3;
  }
  .hero__bottom div:nth-child(3) {
    grid-area: 4/1/5/3;
  }
  .hero__bottom div:nth-child(4) {
    grid-area: 1/1/3/3;
    width: 100%;
  }
  .hero__bottom div:nth-child(4) img {
    width: 100%;
  }
  .hero__bottom div:nth-child(5) {
    grid-area: 5/1/6/2;
  }
  .hero__bottom div:nth-child(6) {
    grid-area: 5/2/6/3;
  }
}
.block2 {
  width: 100%;
  max-width: calc(100% - 30px);
  margin: 0 15px;
  background-color: var(--focus-color);
  border-radius: 16px;
  color: #fff;
  margin-top: 180px;
  padding: 180px 0;
}
.block2__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
}
.block2__top .title {
  max-width: 510px;
  position: relative;
  margin-right: 32px;
}
.block2__top .title::before {
  content: "";
  position: absolute;
  left: 40px;
  bottom: -60px;
  width: calc(100% - 40px);
  height: 48px;
  background-image: url(../../assets/imgs/decor2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.block2__top .title h2 {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 2.7em;
}
.block2__top .text {
  max-width: 760px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.block2__top .text p {
  margin: 0;
  display: block;
  font-size: 1.3em;
  line-height: 1.2;
}
.block2__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 32px;
}
.block2__bottom .item {
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
.block2__bottom .item b {
  display: block;
  font-family: "plateia", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  display: block;
  margin-bottom: auto;
}
.block2__bottom .item p {
  display: block;
  margin: 0;
  margin-top: 32px;
  line-height: 1.2;
  color: #fff;
}